* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}

body {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: 'poppins', sans-serif;
}

#preloader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#preloader img {
  margin-top: 100px;
  width: 500px;
}
#error-txt-div {
  color: black;
  z-index: 11;
}
p::first-letter {
  text-transform: capitalize;
}

li {
  list-style: none;
}

/* Main */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  padding-top: 4%;
}

/* Upper */
#up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  font-size: 4.5rem;
  letter-spacing: 2px;
  line-height: 55px;
  font-weight: 100;
}

#date {
  font-size: 1.5rem;
  font-weight: 100;
}

/* Middle */
#middle {
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
}
#image {
  height: 11rem;
  margin-right: 3rem;
}
#description {
  margin-top: -2.8rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 200;
}

#info1 {
  display: flex;

  align-self: flex-start;
}
#temp {
  font-size: 7.5rem;
  font-weight: 100;
}
#tempsign {
  font-size: 4rem;
  font-weight: 300;
  margin-left: 1px;
  margin-top: 18px;
}

/* Down1 */
#down1 {
  width: 370px;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  border-top: 1px solid rgba(189, 244, 255, 0.689);
  padding-top: 2px;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.widget {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 200;
}
/* Down2 */
#down2 {
  width: 370px;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(189, 244, 255, 0.689);
  padding-bottom: 2px;
}

/* Forcast */
#forcastcontainer {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  height: 50vh;
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
}
.foreCastList {
  width: 370px;
}

#forcasts {
  border-bottom: 1px solid rgba(138, 227, 229, 0.312);
  display: flex;
  align-items: center;
  padding: 0.6rem;
}
.forecastDateDiv {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}
.day1 {
  font-size: 2rem;
  font-weight: 200;
}
.day2 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
}
.forecastIconDiv {
  width: 50px;
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
}

.forecastTemp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 19px;
  width: 70px;
}
.forecastTempOpt {
  display: flex;
}
.temp2 {
  letter-spacing: 1px;
  margin-right: 3px;
}

.forecastIconDiv {
  display: flex;
  justify-content: center;
}
.forecastIcon {
  height: 40px;
}

.forecastWindDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
}
.forecastWind {
  font-size: 0.9rem;
}
.forecastSunDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}
.forecastSunImg {
  height: 30px;
  margin-left: 5px;
}
.arrowDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.suntime {
  font-size: 0.9rem;
  text-align: left;
}

/* Responsive */

/* desktop */
@media only screen and (min-width: 1201px) {
  #content {
    height: 30vh;
  }
  #forcastcontainer {
    margin-top: 90px;
    padding-top: 10px;
  }
  #up {
    margin-top: 5px;
  }
  #down1 {
    margin-top: 30px;
  }
  #down2 {
    margin-top: 5px;
  }
}
/* Large screens*/
@media only screen and (max-width: 1200px) {
  #content {
    height: 33vh;
  }
  #forcastcontainer {
    margin-top: 100px;
    padding-top: 10px;
  }
  #up {
    margin-top: 65px;
  }
  #down1 {
    margin-top: 30px;
  }
  #down2 {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 1024px) {
  #content {
    height: 33vh;
  }
  #forcastcontainer {
    padding-top: 10px;
  }
  #up {
    margin-top: 65px;
  }
  #down1 {
    margin-top: 30px;
  }
  #down2 {
    margin-top: 5px;
  }
}
/* ipad */
@media only screen and (max-width: 768px) {
  #content {
    height: 43vh;
  }
  #forcastcontainer {
    height: 57vh;
    position: absolute;
    bottom: 0;
  }
  #up {
    margin-top: 65px;
  }
  #down1 {
    margin-top: 30px;
  }
  #down2 {
    margin-top: 5px;
  }
}

/* mobiler */
@media only screen and (max-width: 480px) {
  #content {
    height: 43vh;
  }
  #forcastcontainer {
    height: 47vh;
    position: absolute;
    bottom: 0;
  }
  #up {
    margin-top: 13px;
  }
  #down1 {
    margin-top: 10px;
  }
  #down2 {
    margin-top: 5px;
  }
}
/* mobiler */
@media only screen and (height: 812px) {
  #content {
    height: 43vh;
    margin-top: 50px;
  }
  #forcastcontainer {
    height: 47vh;
    position: absolute;
    bottom: 0;
    padding: 2px;
  }
  #up {
    margin-top: 13px;
  }
  #down1 {
    margin-top: 10px;
    width: 95vw;
  }
  #down2 {
    margin-top: 5px;
    width: 95vw;
  }
}
