* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}

body {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: 'poppins', sans-serif;
}

#preloader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#preloader img {
  margin-top: 100px;
  width: 500px;
}
#error-txt-div {
  color: black;
  z-index: 11;
}
p::first-letter {
  text-transform: capitalize;
}

li {
  list-style: none;
}

/* Main */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

/* Upper */
#up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 45px;
  font-weight: 100;
  width: 370px;
  text-align: center;
}

#date {
  font-size: 1rem;
  font-weight: 100;
}

/* Middle */
#middle {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#image {
  height: 7rem;
  margin-right: 2rem;
}

#info1 {
  width: 300px;
}
#description {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 200;
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}

#temp {
  font-size: 5rem;
  font-weight: 100;
}
#tempsign {
  font-size: 2.6rem;
  font-weight: 300;
  margin-left: 1px;
  margin-top: 13px;
}

/* Down1 */
#down1 {
  width: 330px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(189, 244, 255, 0.49);
  padding-top: 2px;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.widget {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 200;
}
/* Down2 */
#down2 {
  width: 330px;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(189, 244, 255, 0.49);
  padding-bottom: 2px;
}

/* Forcast */
#forcastcontainer {
  display: flex;
  justify-content: center;
}
.foreCastList {
  width: 370px;
}

#forcasts {
  border-bottom: 1px solid rgba(138, 227, 229, 0.312);
  display: flex;
  align-items: center;
  padding: 0.6rem;
}
.forecastDateDiv {
  width: 55px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}
.day1 {
  font-size: 2rem;
  font-weight: 200;
}
.day2 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
}

.forecastIconDiv {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
}

.forecastTemp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 19px;
  width: 70px;
  height: 50px;
}
.forecastTempOpt {
  display: flex;
}
.temp2 {
  letter-spacing: 1px;
  margin-right: 3px;
}

.forecastIconDiv {
  display: flex;
  justify-content: center;
  height: 50px;
}
.forecastIcon {
  height: 40px;
}

.forecastWindDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
  height: 50px;
}
.forecastWind {
  font-size: 0.9rem;
}
.forecastSunDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 7px;
  height: 50px;
}
.forecastSunImg {
  height: 30px;
  margin-left: 5px;
}
.arrowDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 42px;
}
.suntime {
  font-size: 0.9rem;
  text-align: left;
}

/* Responsive */
/* mobiler */

@media only screen and (max-width: 480px) {
  #content {
    height: 40%;
    margin-top: 20px;
  }
  #forcastcontainer {
    height: 45%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
  }
  #up {
    margin-top: 13px;
  }
  #down1 {
    margin-top: 20px;
  }
  #down2 {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 375px) {
  #content {
    height: 40%;
    margin-top: 20px;
  }
  #forcastcontainer {
    height: 48%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
  }

  #up {
    margin-top: 20px;
  }
  #down1 {
    margin-top: 15px;
  }
  #down2 {
    margin-top: 5px;
  }
}
